/* RESET */

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

/* VARIABLES */

:root {
    --main-color: #156fdd;
    --main-text-color: #fff;
    --border-color: #999;
    --bio-bg-color: #1e2a3a;
    --bio-border-color: #293544;
    --about-bg-color: #111821;
}

/* GENERAL */

.highlight { color: var(--main-color) }
.italic { font-style: italic }

/* CONTAINERS */

#container {
    display: flex;
    flex-direction: row;
    color: var(--main-text-color)
}

#bio-container {
    flex: 1 1 20%;
    min-height: 100vh;
    text-align: center;
    background-color: var(--bio-bg-color);
    border-right: 5px solid var(--bio-border-color);
    padding: 30px 12px
}

#about-container {
    flex: 1 1 80%;
    background-color: var(--about-bg-color);
    min-height: 100vh;
    padding: 50px
}

/* BIO CONTAINER */

#bio-container h2 { margin-bottom: 25px }
#bio-container p { margin-bottom: 20px }
#bio-container #welcome-text { font-weight: bold }

#bio-image {
    border-radius: 50%;
    width: 175px;
    height: 175px;
    margin-bottom: 25px
}

#social-container {
    display: flex;
    justify-content: center;
    list-style: none;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 25px;
    padding-bottom: 25px
}

#social-container li {
    flex: 1 1 0;
    max-width: 60px
}

#social-container li a {
    color: var(--main-color);
    font-size: 30px
}

#email-container {
    display: flex;
    justify-content: center
}

#email-container ion-icon, #email-container a { flex: 1 1 0 }

#email-container ion-icon {
    color: var(--main-color);
    font-size: 20px;
    max-width: 20px;
    margin-right: 5px
}

#email-container a {
    color: var(--main-text-color);
    text-decoration: none;
    max-width: 225px
}

/* ABOUT CONTAINER */

#name {
    font-size: 42px;
    margin-bottom: 15px
}

#title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px
}

.description {
    max-width: 75%;
    margin-bottom: 10px
}

#btn-projects {
    display: flex;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: var(--main-text-color);
    text-decoration: none;
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 5px;
    transition: .5s;
    width: 150px;
    margin: 25px 0;
    padding: 12px 10px
}

#btn-projects ion-icon, #btn-projects span { flex: 1 1 0 }

#btn-projects  ion-icon {
    max-width: 20px;
    font-size: 20px
}

#btn-projects:hover { background-color: transparent }

#skills-section-title {
    font-size: 32px;
    border-top: 1px solid var(--border-color);
    padding-top: 20px;
    margin-bottom: 20px
}

#skills-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px
}

.skills-box {
    flex: 1 1 33%;
    max-width: 33%;
    margin-bottom: 35px
}

.skills-title {
    font-size: 24px;
    font-weight: bold;
    border-left: 5px solid var(--main-color);
    margin-bottom: 25px;
    padding-left: 10px
}

.skills-box i {
    font-size: 45px;
    margin-right: 10px
}

/* MOBILE */

@media(max-width: 450px) {

    #container { flex-direction: column }

    #bio-container {
        border-right: none;
        border-bottom: 5px solid var(--bio-border-color);
        min-height: auto
    }

    #bio-container h2 { display: none }

    #bio-container p {
        max-width: 60%;
        margin: 10px auto
    }

    #about-container {
        text-align: center;
        padding: 30px
    }

    #about-container .description {
        line-height: 26px;
        max-width: 100%;
        margin: 10px auto
    }

    #btn-projects { margin: 20px auto }

    .skills-box {
        flex: 1 1 100%;
        text-align: left;
        max-width: 100%;
        margin-bottom: 40px
    }

    .skills-box i { font-size: 60px }

}